-- CreateTable
CREATE TABLE "urls" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "originalUrl" TEXT NOT NULL,
    "shortCode" TEXT NOT NULL,
    "title" TEXT,
    "description" TEXT,
    "clicks" INTEGER NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "expiresAt" DATETIME,
    "userId" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "managementTokenHash" TEXT,
    "workspaceId" TEXT,
    "healthStatus" TEXT NOT NULL DEFAULT 'unknown',
    "healthCheckedAt" DATETIME,
    "healthLatencyMs" INTEGER,
    "healthStatusCode" INTEGER,
    "healthLastError" TEXT,
    "healthConsecutiveFailures" INTEGER NOT NULL DEFAULT 0,
    "healthConsecutiveSuccesses" INTEGER NOT NULL DEFAULT 0,
    "autoFailoverEnabled" BOOLEAN NOT NULL DEFAULT true,
    "lastHealthyRevisionId" TEXT,
    "riskStatus" TEXT NOT NULL DEFAULT 'cleared',
    "riskReason" TEXT,
    "riskCheckedAt" DATETIME,
    CONSTRAINT "urls_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "urls_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES "workspaces" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "link_rules" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "destinationUrl" TEXT NOT NULL,
    "priority" INTEGER NOT NULL DEFAULT 100,
    "weight" INTEGER NOT NULL DEFAULT 100,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "countryCodes" TEXT,
    "deviceType" TEXT,
    "referrerDomain" TEXT,
    "startAt" DATETIME,
    "endAt" DATETIME,
    "riskStatus" TEXT NOT NULL DEFAULT 'cleared',
    "riskReason" TEXT,
    "riskCheckedAt" DATETIME,
    "healthStatus" TEXT NOT NULL DEFAULT 'unknown',
    "healthCheckedAt" DATETIME,
    "healthLatencyMs" INTEGER,
    "healthStatusCode" INTEGER,
    "healthLastError" TEXT,
    "consecutiveFailures" INTEGER NOT NULL DEFAULT 0,
    "consecutiveSuccesses" INTEGER NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "link_rules_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "click_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "ruleId" TEXT,
    "ip" TEXT,
    "userAgent" TEXT,
    "referer" TEXT,
    "referrerHost" TEXT,
    "country" TEXT,
    "city" TEXT,
    "deviceType" TEXT,
    "visitorIdHash" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "click_events_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "click_events_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "link_rules" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "click_daily" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "dateKey" TEXT NOT NULL,
    "clicks" INTEGER NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "click_daily_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "goals" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "eventKey" TEXT NOT NULL,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "goals_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "conversion_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "goalId" TEXT NOT NULL,
    "clickEventId" TEXT,
    "ruleId" TEXT,
    "visitorIdHash" TEXT,
    "valueCents" INTEGER,
    "currency" TEXT,
    "metadata" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "conversion_events_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "conversion_events_goalId_fkey" FOREIGN KEY ("goalId") REFERENCES "goals" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "conversion_events_clickEventId_fkey" FOREIGN KEY ("clickEventId") REFERENCES "click_events" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "conversion_events_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "link_rules" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "conversion_daily" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "goalId" TEXT NOT NULL,
    "dateKey" TEXT NOT NULL,
    "conversions" INTEGER NOT NULL DEFAULT 0,
    "valueCents" INTEGER NOT NULL DEFAULT 0,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "conversion_daily_goalId_fkey" FOREIGN KEY ("goalId") REFERENCES "goals" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "password" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "tokenHash" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expiresAt" DATETIME NOT NULL,
    "revokedAt" DATETIME,
    "userAgent" TEXT,
    "lastSeenAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "workspaces" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "workspace_memberships" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "workspaceId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "workspace_memberships_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES "workspaces" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "workspace_memberships_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "workspace_invites" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "workspaceId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'viewer',
    "tokenHash" TEXT NOT NULL,
    "expiresAt" DATETIME NOT NULL,
    "acceptedAt" DATETIME,
    "createdById" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "workspace_invites_workspaceId_fkey" FOREIGN KEY ("workspaceId") REFERENCES "workspaces" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "destination_revisions" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "destinationUrl" TEXT NOT NULL,
    "reason" TEXT,
    "effectiveAt" DATETIME NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "destination_revisions_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "destination_health_checks" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "revisionId" TEXT,
    "ruleId" TEXT,
    "targetUrl" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "statusCode" INTEGER,
    "latencyMs" INTEGER,
    "error" TEXT,
    "checkedAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "destination_health_checks_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "destination_health_checks_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "link_rules" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "branded_domains" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "host" TEXT NOT NULL,
    "verificationToken" TEXT NOT NULL,
    "ownerUrlId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "verifiedAt" DATETIME,
    "lastCheckedAt" DATETIME,
    "tlsReady" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "branded_domains_ownerUrlId_fkey" FOREIGN KEY ("ownerUrlId") REFERENCES "urls" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "domain_links" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "domainId" TEXT NOT NULL,
    "urlId" TEXT NOT NULL,
    "path" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "domain_links_domainId_fkey" FOREIGN KEY ("domainId") REFERENCES "branded_domains" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "domain_links_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "abuse_reports" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "urlId" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "details" TEXT,
    "reporter" TEXT,
    "status" TEXT NOT NULL DEFAULT 'open',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "abuse_reports_urlId_fkey" FOREIGN KEY ("urlId") REFERENCES "urls" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "audit_events" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "action" TEXT NOT NULL,
    "actorType" TEXT NOT NULL,
    "actorUserId" TEXT,
    "sessionId" TEXT,
    "urlId" TEXT,
    "resourceType" TEXT,
    "resourceId" TEXT,
    "ipHash" TEXT,
    "userAgent" TEXT,
    "beforeJson" TEXT,
    "afterJson" TEXT,
    "metadataJson" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- CreateIndex
CREATE UNIQUE INDEX "urls_shortCode_key" ON "urls"("shortCode");

-- CreateIndex
CREATE INDEX "urls_healthStatus_healthCheckedAt_idx" ON "urls"("healthStatus", "healthCheckedAt");

-- CreateIndex
CREATE INDEX "link_rules_urlId_enabled_priority_idx" ON "link_rules"("urlId", "enabled", "priority");

-- CreateIndex
CREATE INDEX "link_rules_healthStatus_healthCheckedAt_idx" ON "link_rules"("healthStatus", "healthCheckedAt");

-- CreateIndex
CREATE INDEX "click_events_urlId_createdAt_idx" ON "click_events"("urlId", "createdAt");

-- CreateIndex
CREATE INDEX "click_events_urlId_country_idx" ON "click_events"("urlId", "country");

-- CreateIndex
CREATE INDEX "click_events_urlId_deviceType_idx" ON "click_events"("urlId", "deviceType");

-- CreateIndex
CREATE INDEX "click_events_ruleId_createdAt_idx" ON "click_events"("ruleId", "createdAt");

-- CreateIndex
CREATE INDEX "click_events_visitorIdHash_createdAt_idx" ON "click_events"("visitorIdHash", "createdAt");

-- CreateIndex
CREATE INDEX "click_daily_urlId_dateKey_idx" ON "click_daily"("urlId", "dateKey");

-- CreateIndex
CREATE UNIQUE INDEX "click_daily_urlId_dateKey_key" ON "click_daily"("urlId", "dateKey");

-- CreateIndex
CREATE INDEX "goals_urlId_enabled_idx" ON "goals"("urlId", "enabled");

-- CreateIndex
CREATE UNIQUE INDEX "goals_urlId_eventKey_key" ON "goals"("urlId", "eventKey");

-- CreateIndex
CREATE INDEX "conversion_events_urlId_createdAt_idx" ON "conversion_events"("urlId", "createdAt");

-- CreateIndex
CREATE INDEX "conversion_events_goalId_createdAt_idx" ON "conversion_events"("goalId", "createdAt");

-- CreateIndex
CREATE INDEX "conversion_events_ruleId_createdAt_idx" ON "conversion_events"("ruleId", "createdAt");

-- CreateIndex
CREATE INDEX "conversion_events_visitorIdHash_createdAt_idx" ON "conversion_events"("visitorIdHash", "createdAt");

-- CreateIndex
CREATE INDEX "conversion_daily_goalId_dateKey_idx" ON "conversion_daily"("goalId", "dateKey");

-- CreateIndex
CREATE UNIQUE INDEX "conversion_daily_goalId_dateKey_key" ON "conversion_daily"("goalId", "dateKey");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_tokenHash_key" ON "sessions"("tokenHash");

-- CreateIndex
CREATE INDEX "sessions_userId_expiresAt_idx" ON "sessions"("userId", "expiresAt");

-- CreateIndex
CREATE INDEX "sessions_expiresAt_revokedAt_idx" ON "sessions"("expiresAt", "revokedAt");

-- CreateIndex
CREATE UNIQUE INDEX "workspaces_slug_key" ON "workspaces"("slug");

-- CreateIndex
CREATE INDEX "workspace_memberships_userId_role_idx" ON "workspace_memberships"("userId", "role");

-- CreateIndex
CREATE UNIQUE INDEX "workspace_memberships_workspaceId_userId_key" ON "workspace_memberships"("workspaceId", "userId");

-- CreateIndex
CREATE UNIQUE INDEX "workspace_invites_tokenHash_key" ON "workspace_invites"("tokenHash");

-- CreateIndex
CREATE INDEX "workspace_invites_workspaceId_expiresAt_idx" ON "workspace_invites"("workspaceId", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "workspace_invites_workspaceId_email_key" ON "workspace_invites"("workspaceId", "email");

-- CreateIndex
CREATE INDEX "destination_revisions_urlId_effectiveAt_idx" ON "destination_revisions"("urlId", "effectiveAt");

-- CreateIndex
CREATE INDEX "destination_health_checks_urlId_checkedAt_idx" ON "destination_health_checks"("urlId", "checkedAt");

-- CreateIndex
CREATE INDEX "destination_health_checks_ruleId_checkedAt_idx" ON "destination_health_checks"("ruleId", "checkedAt");

-- CreateIndex
CREATE INDEX "destination_health_checks_revisionId_checkedAt_idx" ON "destination_health_checks"("revisionId", "checkedAt");

-- CreateIndex
CREATE UNIQUE INDEX "branded_domains_host_key" ON "branded_domains"("host");

-- CreateIndex
CREATE UNIQUE INDEX "branded_domains_verificationToken_key" ON "branded_domains"("verificationToken");

-- CreateIndex
CREATE INDEX "branded_domains_status_lastCheckedAt_idx" ON "branded_domains"("status", "lastCheckedAt");

-- CreateIndex
CREATE INDEX "domain_links_urlId_idx" ON "domain_links"("urlId");

-- CreateIndex
CREATE UNIQUE INDEX "domain_links_domainId_path_key" ON "domain_links"("domainId", "path");

-- CreateIndex
CREATE INDEX "abuse_reports_urlId_status_createdAt_idx" ON "abuse_reports"("urlId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "audit_events_actorUserId_createdAt_idx" ON "audit_events"("actorUserId", "createdAt");

-- CreateIndex
CREATE INDEX "audit_events_urlId_createdAt_idx" ON "audit_events"("urlId", "createdAt");

-- CreateIndex
CREATE INDEX "audit_events_resourceType_resourceId_createdAt_idx" ON "audit_events"("resourceType", "resourceId", "createdAt");

-- CreateIndex
CREATE INDEX "audit_events_action_createdAt_idx" ON "audit_events"("action", "createdAt");

